.parent {
    position: relative;
    background-color: rgb(135, 246, 246);
    padding: 10px;
    height: 1000px;
    /* display: none; */
}
[data-ascd$="e"]{
    background-color: white;
}
[data-ascd^="t"]{
    background-color: wheat;
}
input{
    background-color: black;
}
ul {
    list-style: square inside;
}
li{
    display: inline;
}
li:first-child{
    background-color: rgb(196, 67, 67);
}
li:last-child{
    background-color: chartreuse;
}
li:nth-child(2n){
    background-color: darkcyan;
}

p:only-child{
    background-color: blue;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
}

a:active {
    color: orange;
}

.one {
    /* position: absolute; */
    background-color: rgb(124, 124, 245);
    padding: 10px;
    margin: 10px;
    text-align: right;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* top: 100px;
    left: 100px; */
}

.two {
    position: fixed;
    background-color: rgb(225, 86, 86);
    padding: 10px;
    margin: 0 auto;
    bottom: 10px;
    right: 1rem;
    width: auto;
    text-decoration: line-through;
}

.three {
    position: sticky;
    background-color: rgb(95, 204, 95);
    padding: 10px;
    width: 300px;
    margin: auto;
    top: 0;
}

.four {
    box-sizing: border-box;
    width: 200px;
    padding: 20px;
    border: 5px solid;
    margin: 10px;
    /* display: none; */
}

.zero {
    margin: 10px;
    padding: 10px;
    /* display: block; */
}