.container {
    display: grid;
    grid-gap: 1em;
    /* background-color: Gainsboro; */
}

.grid-item {
    border: 2px solid rgb(56, 229, 12);
}

@media (min-width:769px) {
    .container {
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: minmax(100px, auto); */
        
    }

    .grid-item-1 {
        /*  grid-column-start: 1; */
        /* grid-column-end: 3;  */
        /*grid-column: span 2; */
        grid-column: 1/span 2;
    }

    .grid-item-4 {
        grid-column: 1/span 3;
    }

    .grid-item-5 {
        grid-row: 1/span 2;
        /*start at 1 and combine two rows*/
        grid-column: 3;
        /*start at 3rd column*/
    }
}