* {
    padding: 10px;
    margin: 0;
}

body {
    height: 10000px;
}

.box {
    display: relative;
    border: 2px solid black;
    margin: 10px;
}

.box-item {
    margin: 10px;
    border: 2px solid black;
}

.box-static {
    position: static;
    top: 100px;
    background-color: Gainsboro;
}

.box-relative {
    position: relative;
    left: 7px;
    background-color: Gainsboro;
}

.box-fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: Gainsboro;
}

.box-absolute {
    position: absolute;
    top: 45px;
    left: 200px;
    background-color: Gainsboro;
    /* z-index: -1; */
    /* clip: rect(0px,60px,200px,0px); */
}

.box-sticky {
    position: sticky;
    top: 10px;
    background-color: Gainsboro;
}

.flexbox {
    display: flex;
    border: 2px solid black;
    margin: 10px;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */

    justify-content: center;
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */

    /* align-items: normal; */
    /* align-items: stretch; */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: baseline; */
}

.flexbox-item {
    width: 100px;
    margin: 10px;
    border: 2px solid black;
    flex: 30%;
}

.flexbox-item-1 {
    min-height: 100px;
    /* flex-grow: 0;
    flex-shrink: 0; */
    /* align-self: center; */
}

.flexbox-item-2 {
    min-height: 150px;
    /* flex-grow: 1; */
}

.flexbox-item-3 {
    min-height: 200px;
    /* flex-grow: 2; */
}

@media (max-width:425px) {

    .flexbox {
        flex-direction: column;
        align-items: stretch;
        
    }


}